// стилизация body

body {
  background-color: $secondary-text-color;
  color: $primary-text-color;
  font-size: $font-size-14;
  font-family: Roboto, sans-serif;
  font-weight: $font-weight-400;
  font-style: $font-style-normal;
}

// стилизация списков

.list {
  margin-top: $margin-0;
  margin-bottom: $margin-0;
  padding-left: 0;
  list-style: none;
}

// стилизация ссылок

a {
  text-decoration: none;
  display: $display-block;
}

// стилизация изображений

img {
  display: $display-block;
  max-width: 100%;
  height: auto;
}

// стилизация контейнера

.container {
  width: 100%;
  margin-right: $margin-auto;
  margin-left: $margin-auto;
  padding-right: $padding-15;
  padding-left: $padding-15;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

/* стилизация заголовков */

.section-title {
  margin-top: $margin-0;
  margin-bottom: 30px;

  font-weight: $font-weight-700;
  font-size: 28px;
  line-height: $line-height-1-2;
  letter-spacing: $letter-spacing-03em;
  text-align: $text-align-center;
  color: $title-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.subtitle {
  margin-top: $margin-0;
  margin-bottom: 20px;

  font-size: $font-size-14;
  font-weight: $font-weight-700;
  line-height: $line-height-1-1;
  letter-spacing: $letter-spacing-03em;
  text-transform: $text-uppercase;
  color: $secondary-text-color;
}

// is hidden

.agreement .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
