$primary-text-color: #757575;
$secondary-text-color: #ffffff;
$title-color: #212121;
$accent-color: #2196f3;
$background-color: #2f303a;
$fill-icons: #afb1b8;
$color-black: #000000;

$display-flex: flex;
$display-block: block;
$flex-direction-column: column;
$align-items-center: center;
$justify-content-center: center;

$position-absolute: absolute;
$position-relative: relative;
$position-0: 0;

$duration-250: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-style-normal: normal;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-size-14: 14px;
$font-size-16: 16px;
$line-height-1-1: 1.1;
$line-height-1-2: 1.2;
$letter-spacing-03em: 0.03em;
$text-uppercase: uppercase;
$text-align-center: center;

$width-height-100: 100%;

$margin-0: 0px;
$margin-30: 30px;
$margin-auto: auto;

$padding-94: 94px;
$padding-15: 15px;
$padding-16: 16px;

$cursor-pointer: pointer;

$border-radius-4: 4px;
